In [25]:
import tensorflow as tf

In [26]:
model = tf.keras.models.load_model('sales_prediction_model')
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 155)               24180

 reshape_2 (Reshape)         (None, 1, 155)            0

 lstm_2 (LSTM)               (None, 128)               145408

 dense_5 (Dense)             (None, 64)                8256

 reshape_3 (Reshape)         (None, 1, 64)             0

 lstm_3 (LSTM)               (None, 16)                5184

 dense_6 (Dense)             (None, 4)                 68

 dense_7 (Dense)             (None, 1)                 5

=================================================================
Total params: 183101 (715.24 KB)
Trainable params: 183101 (715.24 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [27]:
import pandas as pd

In [28]:
test = pd.read_csv('/Users/rumethsandinu/Documents/Assessments/Year 2/DSGP/datasets/testing_dataset.csv')
test.head()

,Unnamed: 0,quantity_sold_kg,unit_selling_price_rmb/kg,item_name_7 colour pepper,item_name_agaricus bisporus,item_name_aihao,item_name_amaranth,item_name_apricot bao mushroom,item_name_basil,item_name_bell pepper,...,item_name_yuxingcao,item_name_zhijiang red bolt,item_name_zhimaxiancai,item_name_zhuyecai,category_name_aquatic,category_name_cabbage,category_name_capsicum,category_name_flower,category_name_mushroom,category_name_solanum
0,0,1.0000,6.900000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,1,0.4258,5.000000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,2,1.0000,3.942857,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,3,0.6660,12.000000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,4,0.0030,33.600000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [29]:
col = pd.DataFrame(test.columns)
col

                                0
0                      Unnamed: 0
1                quantity_sold_kg
2       unit_selling_price_rmb/kg
3      item_name_7 colour pepper
4    item_name_agaricus bisporus
..                            ...
152         category_name_cabbage
153        category_name_capsicum
154          category_name_flower
155        category_name_mushroom
156         category_name_solanum

[157 rows x 1 columns]

In [30]:
col = col.iloc[2:]
col

                                0
2       unit_selling_price_rmb/kg
3      item_name_7 colour pepper
4    item_name_agaricus bisporus
5                 item_name_aihao
6             item_name_amaranth
..                            ...
152         category_name_cabbage
153        category_name_capsicum
154          category_name_flower
155        category_name_mushroom
156         category_name_solanum

[155 rows x 1 columns]

In [31]:
col.to_csv('column_names', index=False)