In [1]:
import tf_keras as tf

/Users/rumethsandinu/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
model = tf.models.load_model('sales_prediction_model')
model.summary()

2024-03-23 19:19:27.157979: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M2
2024-03-23 19:19:27.158009: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 8.00 GB
2024-03-23 19:19:27.158019: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 2.67 GB
2024-03-23 19:19:27.158216: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2024-03-23 19:19:27.158244: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 155)               24180

 reshape_2 (Reshape)         (None, 1, 155)            0

 lstm_2 (LSTM)               (None, 128)               145408

 dense_5 (Dense)             (None, 64)                8256

 reshape_3 (Reshape)         (None, 1, 64)             0

 lstm_3 (LSTM)               (None, 16)                5184

 dense_6 (Dense)             (None, 4)                 68

 dense_7 (Dense)             (None, 1)                 5

=================================================================
Total params: 183101 (715.24 KB)
Trainable params: 183101 (715.24 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [3]:
import pandas as pd

In [4]:
test = pd.read_csv('../../datasets/testing_dataset.csv')
test.head()

,Unnamed: 0,quantity_sold_kg,unit_selling_price_rmb/kg,item_name_7 colour pepper,item_name_agaricus bisporus,item_name_aihao,item_name_amaranth,item_name_apricot bao mushroom,item_name_basil,item_name_bell pepper,...,item_name_yuxingcao,item_name_zhijiang red bolt,item_name_zhimaxiancai,item_name_zhuyecai,category_name_aquatic,category_name_cabbage,category_name_capsicum,category_name_flower,category_name_mushroom,category_name_solanum
0,0,1.0000,6.900000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,1,0.4258,5.000000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,2,1.0000,3.942857,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,3,0.6660,12.000000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,4,0.0030,33.600000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [5]:
col = pd.DataFrame(test.columns)
col.head(3)

                           0
0                 Unnamed: 0
1           quantity_sold_kg
2  unit_selling_price_rmb/kg

In [6]:
col = col.iloc[2:]
col.head(3)

                              0
2     unit_selling_price_rmb/kg
3    item_name_7 colour pepper
4  item_name_agaricus bisporus

In [7]:
col.to_csv('column_names', index=False)