In [1]:
import pandas as pd

In [2]:
# read item.csv
df1 = pd.read_csv('../datasets/item.csv')
df1.head(3)

,Item Code,Item Name,Category Code,Category Name
0,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables
1,102900005115199,Sichuan Red Cedar,1011010101,Flower/Leaf Vegetables
2,102900005115625,Local Xiaomao Cabbage,1011010101,Flower/Leaf Vegetables

In [3]:
df1['Item Name'].unique()

array(['Niushou Shengcai', 'Sichuan Red Cedar', 'Local Xiaomao Cabbage',
       'White Caitai', 'Amaranth', 'Yunnan Shengcai', 'Zhuyecai',
       'Chinese Cabbage', 'Nanguajian', 'Shanghaiqing', 'Radish Leaves',
       'Niushou Youcai', 'Garden Chrysanthemum',
       'Caidian Quinoa Artemisia', 'Caixin', 'Muercai', 'Wandoujian',
       'Yunnan Lettuces', 'Machixian', 'Local Spinach',
       'Yellow Xincai (1)', 'Black Rapeseed', 'Local Shanghaiqing',
       'Spinach', 'Wawacai', 'Hongshujian', 'Zhijiang Red Bolt',
       'Huanghuacai', 'Kuaicai', 'Suizhou Bubble Green',
       'Panax Notoginseng', 'Dongmenkou Xiaobaicai',
       'Foreign Garland Chrysanthemum ', 'Ice Grass', 'Perilla', 'Mint',
       'The Dandelion', 'Siguajian', 'Naibaicai', 'Mustard',
       'Big Broccoli', 'Miantiaocai', 'Sweet Chinese Cabbage', 'Jicai',
       'Malan Head', 'Ganlanye', 'Hongshan Caitai',
       'The Local Yellow Youcai', 'Green Caitai', 'Xiaoqingcai (1)',
       'Fresh Rice Dumplings Leaves', 'Aihao', 'Naibai Caimiao',
       'Juhua Youcai', 'Shuanggou Cabbage', 'Zhijiang Red Bolt (Bag)',
       'Yunnan Lettuce (Bag)', 'Yunnan Leaf Lettuce (Bag)',
       'Garden Chrysanthemum (Bag)', 'Spinach (Bag)', 'Caixin (Bag)',
       'Shanghai Green (Bag)', 'Xiaoqingcai (2)', 'Hongshan Shoutidai',
       'Hongshan Gift Box', 'Yuxingcao (Bag)', 'Ice Grass (Box)',
       'Basil (Bag)', 'Xiangtianhongcaitai (Bag)',
       'Artemisia Stelleriana', 'Yuxingcao ', 'Zhuyecai (Bag)', 'Chuncai',
       'Sophora Japonica', 'Hongshujian (Bag)',
       'Caidian Quinoa Artemisia (Bag)', 'Red Coral (Leaf)',
       'Red Oak Leaf', 'Green Butter', 'Powcan Mountain Chinese Cabbage ',
       'Huangxincai (2)', 'Amaranth (Bag)', 'Chinese Cabbage (Bag)',
       'Xiaoqingcai (Bag)', 'Cabbage Stem (Bag)', 'Zhimaxiancai',
       'Xianzongye', 'Xianzongye (Bag) (1)',
       'Foreign Garland Chrysanthemum  (Bag)', 'Longyacai',
       'Yellow Baicai (1)', 'Chinese Cabbage Seedling', 'Muercai (Bag)',
       'Broccoli', 'Youcaitai', 'Huangbaicai (2)', 'Purple Beicai',
       'Xianzongye (Bag) (2)', 'Xianzongye (Bag) (3)',
       'Purple Cabbage (1)', 'Qinggengsanhua', 'Purple Cabbage (2)',
       'Zhijiang Qinggengsanhua', 'Lotus Root', 'Net Lotus Root (1)',
       'High Melon (1)', 'Lotus (Ea)', 'Water Chestnut (Lingjiao)',
       'Red Lotus Root Zone', 'Water Chestnut', 'Wild Lotus Root (1)',
       'Wild Pink Lotus Root', 'Honghu Lotus Root Powder (Fenou)',
       'Net Lotus Root (2)', 'Fresh Lotus Root Zone (Bag)',
       'Water Chestnut (Bag)', 'High Melon (2)',
       'Honghu Lotus (Lotus Root)', 'Net Lotus Root (3)',
       'Wild Lotus Root (2)', 'Honghu Lotus Root', 'Lotus Root Tip',
       'Eggplant (2)', 'Green Eggplant (1)', 'Round Eggplant',
       'Dalong Eggplant', 'Hua Eggplant', 'Changxianqie',
       'Green Eggplant (2)', 'Eggplant (1)', 'Round Eggplant (1)',
       'Round Eggplant (2)', 'Red Hot Peppers', 'Green Hot Peppers',
       'Red Pepper (1)', 'Green Hangjiao (1)', 'Red Hang Pepper',
       'Paopaojiao (Jingpin)', '7 Colour Pepper (1)',
       'Green Hangzhou Pepper (2)', 'Bell Pepper (1)', 'Millet Pepper',
       'Luosi Pepper', 'Red Line Pepper', 'The Red Bell Pepper (1)',
       'Fruit Pepper (Orange)', 'Wuhu Green Pepper (1)', 'Pepper Mix',
       'Wuhu Green Pepper (2)', 'Xiaozhoupi', 'Yuganjiao', 'Lameizi',
       'Purple Hot Peppers', 'Purple Screw Pepper', 'Fruit Chili',
       'Millet Pepper (Bag)', 'Green Hot Peppers (Bag)',
       '7 Colour Pepper (Bag)', 'Bell Pepper (Bag)',
       'Red Bell Pepper (Bag)', 'Xiaozhoupi (Bag)',
       'Wuhu Green Pepper (Bag)', 'Green Hang Pepper (Bag)',
       'Red Hang Pepper (Bag)', 'Fruit Pepper (Bag)',
       'Green Line Pepper (Bag)', 'Red Hot Peppers (Bag)',
       'Luosi Pepper (Bag)', '7 Colour Pepper (2)', 'Bell Pepper (2)',
       'Red Bell Pepper (2)', 'Ginger And Xiaomijiao Mix (Small Bag)',
       'Red Pepper (Bag)', 'Green And Red Hang Pepper Mix (Bag)',
       'Red Pepper (2)', 'Green And Red Jian Pepper Mix (Bag)',
       'Green Line Pepper', 'Xixia Black Mushroom (1)',
       'Xixia Mushroom (1)', 'Needle Mushroom (1)', 'Ping Mushroom',
       'Jigu Mushroom (1)', 'The White Mushroom (1)',
       'The Agaricus Bisporus', 'The Crab Flavor Mushroom (1)',
       'Haixian Mushroom (1)', 'Apricot Bao Mushroom (1)',
       'Jigu Mushroom (Bunch)', 'Needle Mushroom (Bag) (1)',
       'Tremella (Flower)', 'Hericium ', 'Fresh Black Fungus (1)',
       'Chicken Fir Bacteria', 'Black Porcini',
       'Haixian Mushroom (Bag) (1)', 'Xiuzhen Mushroom',
       'Chinese Caterpillar Fungus Flowers (Box) (1)',
       'Tea Tree Mushroom (Bag)', 'Black Chicken  Mushroom',
       'Apricot Bao Mushroom (Bag)', 'The White Mushroom (Bag)',
       'Chinese Caterpillar Fungus Flowers (Bag)', 'Chopped Red Pine',
       'The Steak Mushrooms', 'White Jelly Mushroom',
       'Apricot Bao Mushroom (250 G)', 'Chopped Red Pine (Box)',
       'The Steak Mushrooms (Box)', 'The Pork Stomach Mushroom (Box)',
       'Black Porcini (Box)', 'Black Chicken Fir Bacteria (Box)',
       'Haixian Mushroom (Bag)', 'Fresh Edible Fungus (Bag)',
       'Agaricus Bisporus (Bag)', 'Needle Mushroom (Bag)', 'Jigu (Bag)',
       'Xixia Xianggu Mushroom (2)', 'Fresh Edible Fungus (2)',
       'Fresh Sea (2)', 'Jigu (2)', 'Needle Mushroom (2)',
       'Apricot Bao Mushroom (2)', 'Xixia Black Mushroom (2)',
       'Agaricus Bisporus (Box)', 'Black Mushroom (Bag)',
       'The Fungus Mushroom Hot Pot Package (Bag)',
       'Crab Flavor Mushroom And White Mushroom Mix (Box)',
       'Xixia Xianggu Mushroom (Bag)', 'Mushroom And Leaf Mix (Bag)',
       'Velvet Antler Mushroom (Box)',
       'Chinese Caterpillar Fungus Flowers',
       'The Crab Flavor Mushroom (Bag)', 'Haixian Mushroom (Bag) (2)',
       'Embroidered Aureus', 'Embroidered Aureus (Bag)',
       'Needle Mushroom (Bag) (3)', 'Needle Mushroom (Bag) (2)',
       'Needle Mushroom (Box)', 'The White Mushroom (2)',
       'The Crab Flavor Mushroom (2)', 'The White Mushroom (Box)',
       'The Crab Flavor Mushroom (Box)', 'Haixian Mushroom (Bag) (4)',
       'Haixian Mushroom (Bunch)', 'Haixian Mushroom (Bag) (3)',
       'Chinese Caterpillar Fungus Flowers (Box) (2)',
       'Hfyg Haixian Mushroom (Bunch)'], dtype=object)

In [4]:
# check data types, shape and null values
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item Code      251 non-null    int64
 1   Item Name      251 non-null    object
 2   Category Code  251 non-null    int64
 3   Category Name  251 non-null    object
dtypes: int64(2), object(2)
memory usage: 8.0+ KB

In [5]:
# check if item code duplicates
df1['Item Code'].duplicated().value_counts()

Item Code
False    251
Name: count, dtype: int64

In [6]:
"""there are items in the dataset which have the same name upto certain point but different item code for example some item available as a powder and leaves. for the ease of the implementation, drop the duplicated item names and keep only first value assuming the item is available in the market as a single type."""

# split item names where duplication name starts
def split_name(data):
    if '(' in data:
        return data.split('(')[0][:-1]
    return data

df1['Item Name'] = df1['Item Name'].apply(split_name)
df1['Item Name'].unique()

array(['Niushou Shengcai', 'Sichuan Red Cedar', 'Local Xiaomao Cabbage',
       'White Caitai', 'Amaranth', 'Yunnan Shengcai', 'Zhuyecai',
       'Chinese Cabbage', 'Nanguajian', 'Shanghaiqing', 'Radish Leaves',
       'Niushou Youcai', 'Garden Chrysanthemum',
       'Caidian Quinoa Artemisia', 'Caixin', 'Muercai', 'Wandoujian',
       'Yunnan Lettuces', 'Machixian', 'Local Spinach', 'Yellow Xincai',
       'Black Rapeseed', 'Local Shanghaiqing', 'Spinach', 'Wawacai',
       'Hongshujian', 'Zhijiang Red Bolt', 'Huanghuacai', 'Kuaicai',
       'Suizhou Bubble Green', 'Panax Notoginseng',
       'Dongmenkou Xiaobaicai', 'Foreign Garland Chrysanthemum ',
       'Ice Grass', 'Perilla', 'Mint', 'The Dandelion', 'Siguajian',
       'Naibaicai', 'Mustard', 'Big Broccoli', 'Miantiaocai',
       'Sweet Chinese Cabbage', 'Jicai', 'Malan Head', 'Ganlanye',
       'Hongshan Caitai', 'The Local Yellow Youcai', 'Green Caitai',
       'Xiaoqingcai', 'Fresh Rice Dumplings Leaves', 'Aihao',
       'Naibai Caimiao', 'Juhua Youcai', 'Shuanggou Cabbage',
       'Yunnan Lettuce', 'Yunnan Leaf Lettuce', 'Shanghai Green',
       'Hongshan Shoutidai', 'Hongshan Gift Box', 'Yuxingcao', 'Basil',
       'Xiangtianhongcaitai', 'Artemisia Stelleriana', 'Yuxingcao ',
       'Chuncai', 'Sophora Japonica', 'Red Coral', 'Red Oak Leaf',
       'Green Butter', 'Powcan Mountain Chinese Cabbage ', 'Huangxincai',
       'Cabbage Stem', 'Zhimaxiancai', 'Xianzongye', 'Longyacai',
       'Yellow Baicai', 'Chinese Cabbage Seedling', 'Broccoli',
       'Youcaitai', 'Huangbaicai', 'Purple Beicai', 'Purple Cabbage',
       'Qinggengsanhua', 'Zhijiang Qinggengsanhua', 'Lotus Root',
       'Net Lotus Root', 'High Melon', 'Lotus', 'Water Chestnut',
       'Red Lotus Root Zone', 'Wild Lotus Root', 'Wild Pink Lotus Root',
       'Honghu Lotus Root Powder', 'Fresh Lotus Root Zone',
       'Honghu Lotus', 'Honghu Lotus Root', 'Lotus Root Tip', 'Eggplant',
       'Green Eggplant', 'Round Eggplant', 'Dalong Eggplant',
       'Hua Eggplant', 'Changxianqie', 'Red Hot Peppers',
       'Green Hot Peppers', 'Red Pepper', 'Green Hangjiao',
       'Red Hang Pepper', 'Paopaojiao', '7 Colour Pepper',
       'Green Hangzhou Pepper', 'Bell Pepper', 'Millet Pepper',
       'Luosi Pepper', 'Red Line Pepper', 'The Red Bell Pepper',
       'Fruit Pepper', 'Wuhu Green Pepper', 'Pepper Mix', 'Xiaozhoupi',
       'Yuganjiao', 'Lameizi', 'Purple Hot Peppers',
       'Purple Screw Pepper', 'Fruit Chili', 'Red Bell Pepper',
       'Green Hang Pepper', 'Green Line Pepper',
       'Ginger And Xiaomijiao Mix', 'Green And Red Hang Pepper Mix',
       'Green And Red Jian Pepper Mix', 'Xixia Black Mushroom',
       'Xixia Mushroom', 'Needle Mushroom', 'Ping Mushroom',
       'Jigu Mushroom', 'The White Mushroom', 'The Agaricus Bisporus',
       'The Crab Flavor Mushroom', 'Haixian Mushroom',
       'Apricot Bao Mushroom', 'Tremella', 'Hericium ',
       'Fresh Black Fungus', 'Chicken Fir Bacteria', 'Black Porcini',
       'Xiuzhen Mushroom', 'Chinese Caterpillar Fungus Flowers',
       'Tea Tree Mushroom', 'Black Chicken  Mushroom', 'Chopped Red Pine',
       'The Steak Mushrooms', 'White Jelly Mushroom',
       'The Pork Stomach Mushroom', 'Black Chicken Fir Bacteria',
       'Fresh Edible Fungus', 'Agaricus Bisporus', 'Jigu',
       'Xixia Xianggu Mushroom', 'Fresh Sea', 'Black Mushroom',
       'The Fungus Mushroom Hot Pot Package',
       'Crab Flavor Mushroom And White Mushroom Mix',
       'Mushroom And Leaf Mix', 'Velvet Antler Mushroom',
       'Embroidered Aureus', 'Hfyg Haixian Mushroom'], dtype=object)

In [7]:
len(df1.at[20, 'Item Name'])

13

In [8]:
# check for duplicated names
df1['Item Name'].duplicated().value_counts()

Item Name
False    168
True      83
Name: count, dtype: int64

In [9]:
# drop the duplicates keeping only first value
df1 = df1.drop_duplicates(subset=['Item Name'], keep='first')
df1.shape

(168, 4)

In [10]:
# check the frequency of categories
df1['Category Name'].value_counts()

Category Name
Flower/Leaf Vegetables         82
Edible Mushroom                36
Capsicum                       28
Aquatic Tuberous Vegetables    13
Solanum                         6
Cabbage                         3
Name: count, dtype: int64

In [11]:
def rename_category(data):
    if data == 'Flower/Leaf Vegetables':
        return 'Flower'
    if data == 'Edible Mushroom':
        return 'Mushroom'
    if data == 'Aquatic Tuberous Vegetables':
        return 'Aquatic'
    return data


# rename all categories to readable value
df1['Category Name'] = df1['Category Name'].apply(rename_category)
df1['Category Name'].value_counts()

Category Name
Flower      82
Mushroom    36
Capsicum    28
Aquatic     13
Solanum      6
Cabbage      3
Name: count, dtype: int64

In [12]:
# lowercases all item names and category names
df1['Item Name'] = df1['Item Name'].str.lower()
df1['Category Name'] = df1['Category Name'].str.lower()
df1.sample(3)

          Item Code            Item Name  Category Code Category Name
26  102900005119975          hongshujian     1011010101        flower
4   102900005115762             amaranth     1011010101        flower
58  102900011030097  yunnan leaf lettuce     1011010101        flower

In [13]:
# read sale.csv
df2 = pd.read_csv('../datasets/sale.csv')
df2.head(3)

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,sale,No
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,sale,No

In [14]:
# check data types, shape and null values
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878503 entries, 0 to 878502
Data columns (total 7 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Date                         878503 non-null  object
 1   Time                         878503 non-null  object
 2   Item Code                    878503 non-null  int64
 3   Quantity Sold (kilo)         878503 non-null  float64
 4   Unit Selling Price (RMB/kg)  878503 non-null  float64
 5   Sale or Return               878503 non-null  object
 6   Discount (Yes/No)            878503 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 46.9+ MB

In [15]:
# get item codes in df1 which present in df3
filt = df1['Item Code'].isin(df2['Item Code'])
df1 = df1.loc[filt]
df1.shape

(165, 4)

In [16]:
# get item codes in df3 which present in df1
filt = df2['Item Code'].isin(df1['Item Code'])
df2 = df2.loc[filt]
df2.shape

(684584, 7)

In [17]:
# getting a copy of df3 and assigning it to dff
dff = df2.copy().reset_index(drop=True)
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 684584 entries, 0 to 684583
Data columns (total 7 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Date                         684584 non-null  object
 1   Time                         684584 non-null  object
 2   Item Code                    684584 non-null  int64
 3   Quantity Sold (kilo)         684584 non-null  float64
 4   Unit Selling Price (RMB/kg)  684584 non-null  float64
 5   Sale or Return               684584 non-null  object
 6   Discount (Yes/No)            684584 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 36.6+ MB

In [18]:
# merge df3 with df1 (item name, category name)
for i in range(dff.shape[0]):
    for j in range(df1.shape[0]):
        if dff['Item Code'].values[i] == df1['Item Code'].values[j]:
            dff.at[i, 'Item Name'] = df1['Item Name'].values[j]
            dff.at[i, 'Category Name'] = df1['Category Name'].values[j]
            break

# check data types, shape and null values
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 684584 entries, 0 to 684583
Data columns (total 9 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Date                         684584 non-null  object
 1   Time                         684584 non-null  object
 2   Item Code                    684584 non-null  int64
 3   Quantity Sold (kilo)         684584 non-null  float64
 4   Unit Selling Price (RMB/kg)  684584 non-null  float64
 5   Sale or Return               684584 non-null  object
 6   Discount (Yes/No)            684584 non-null  object
 7   Item Name                    684584 non-null  object
 8   Category Name                684584 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 47.0+ MB

In [19]:
# check unique items
dff['Item Name'].unique().shape[0]

165

In [20]:
# get the column names to lists

first_columns = dff.columns[:-2].tolist()
last_two_columns = dff.columns[-2:].tolist()

# rearrange the columns

order = last_two_columns + first_columns
dff = dff[order]

# check all the operations successful
dff.sample(3)

,Item Name,Category Name,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
674387,zhuyecai,flower,2023-06-06,09:33:50.985,102900005115786,0.490,8.0,sale,No
498366,zhuyecai,flower,2022-07-02,11:00:20.814,102900005115786,0.285,3.2,sale,No
18461,yunnan lettuces,flower,2020-07-19,17:30:22.545,102900005115984,0.435,6.0,sale,No

In [21]:
"""to follow a one standard in implementation, change all the column names to snake case"""

dff.rename(columns={'Quantity Sold (kilo)': 'Quantity Sold Kg', 
                    'Unit Selling Price (RMB/kg)': 'Unit Selling Price RMB/Kg', 
                    'Discount (Yes/No)': 'Discount'}, inplace=True)

dff.rename(str.lower, axis='columns', inplace=True)

dff.rename(lambda x: x.replace(" ", "_"), axis='columns', inplace=True)
dff.columns

Index(['item_name', 'category_name', 'date', 'time', 'item_code',
       'quantity_sold_kg', 'unit_selling_price_rmb/kg', 'sale_or_return',
       'discount'],
      dtype='object')

In [22]:
# check date range
dff['date'].min(), dff['date'].max()

('2020-07-01', '2023-06-30')

In [23]:
# select 2 year range of data
filt = (dff['date'] >= '2021-01-01') & (dff['date'] <= '2022-12-31')
dff = dff.loc[filt]
dff.shape

(443205, 9)

In [24]:
dff.head(3)

,item_name,category_name,date,time,item_code,quantity_sold_kg,unit_selling_price_rmb/kg,sale_or_return,discount
155128,green hot peppers,capsicum,2021-01-01,09:14:26.212,102900005116226,1.132,25.8,sale,No
155129,green hot peppers,capsicum,2021-01-01,09:14:26.324,102900005116226,0.593,25.8,sale,No
155130,yunnan lettuces,flower,2021-01-01,09:16:20.074,102900005115984,0.468,6.0,sale,No

In [25]:
# drop unnecessary data
filt_return = (dff['sale_or_return'] == 'sale')
dff = dff.loc[filt_return]
dff['time'] = dff['time'].str.split(':').str[0].astype(int)
dff = dff.drop(columns = ['sale_or_return', 'discount'])

"""quantity_sold_kg column has some values which are not in the correct format. convert them to float and round them to 1 decimal point to make them more readable and usable for the analysis"""

dff['quantity_sold_kg'] = dff['quantity_sold_kg'].round(1)
dff.head(3)

,item_name,category_name,date,time,item_code,quantity_sold_kg,unit_selling_price_rmb/kg
155128,green hot peppers,capsicum,2021-01-01,9,102900005116226,1.1,25.8
155129,green hot peppers,capsicum,2021-01-01,9,102900005116226,0.6,25.8
155130,yunnan lettuces,flower,2021-01-01,9,102900005115984,0.5,6.0

In [26]:
dff['quantity_sold_kg'].describe()

count    442974.000000
mean          0.478923
std           0.331339
min           0.000000
25%           0.300000
50%           0.400000
75%           0.600000
max          25.000000
Name: quantity_sold_kg, dtype: float64

In [27]:
(dff['quantity_sold_kg'] == 0).sum()

2258

In [28]:
# drop rows where quantity sold is 0
filt_sold_0 = (dff['quantity_sold_kg'] == 0)
dff = dff.loc[~filt_sold_0]
dff.info()

<class 'pandas.core.frame.DataFrame'>
Index: 440716 entries, 155128 to 598332
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   item_name                  440716 non-null  object
 1   category_name              440716 non-null  object
 2   date                       440716 non-null  object
 3   time                       440716 non-null  int64
 4   item_code                  440716 non-null  int64
 5   quantity_sold_kg           440716 non-null  float64
 6   unit_selling_price_rmb/kg  440716 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 26.9+ MB

In [29]:
dff['quantity_sold_kg'].describe()

count    440716.000000
mean          0.481376
std           0.330404
min           0.100000
25%           0.300000
50%           0.400000
75%           0.600000
max          25.000000
Name: quantity_sold_kg, dtype: float64

In [30]:
# save built dataset
dff.to_csv('../datasets/built_dataset.csv', index=False)