In [117]:
import pandas as pd
import numpy as np

In [118]:
df = pd.read_csv(r"C:\Users\TUF\Desktop\dataset\annex1.csv")
df2 = pd.read_csv(r"C:\Users\TUF\Desktop\dataset\annex2.csv")
df.head(10)

,Item Code,Item Name,Category Code,Category Name
0,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables
1,102900005115199,Sichuan Red Cedar,1011010101,Flower/Leaf Vegetables
2,102900005115625,Local Xiaomao Cabbage,1011010101,Flower/Leaf Vegetables
3,102900005115748,White Caitai,1011010101,Flower/Leaf Vegetables
4,102900005115762,Amaranth,1011010101,Flower/Leaf Vegetables
5,102900005115779,Yunnan Shengcai,1011010101,Flower/Leaf Vegetables
6,102900005115786,Zhuyecai,1011010101,Flower/Leaf Vegetables
7,102900005115793,Chinese Cabbage,1011010101,Flower/Leaf Vegetables
8,102900005115816,Nanguajian,1011010101,Flower/Leaf Vegetables
9,102900005115823,Shanghaiqing,1011010101,Flower/Leaf Vegetables

In [119]:
df.drop_duplicates() #Drops the duplicates
df.info() #Gives Information about null data and more

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item Code      251 non-null    int64
 1   Item Name      251 non-null    object
 2   Category Code  251 non-null    int64
 3   Category Name  251 non-null    object
dtypes: int64(2), object(2)
memory usage: 8.0+ KB

In [120]:
df['Category Name'] = df['Category Name'].str.replace('\xa0', '') # Removing Non-Breaking space characters
df['Item Name'] = df['Item Name'].str.lower() # Standardisation : converts all the letters to lowercase
df['Category Name'] = df['Category Name'].str.lower() # Standardisation : converts all the letters to lowercase
df.head(10)

,Item Code,Item Name,Category Code,Category Name
0,102900005115168,niushou shengcai,1011010101,flower/leafvegetables
1,102900005115199,sichuan red cedar,1011010101,flower/leafvegetables
2,102900005115625,local xiaomao cabbage,1011010101,flower/leafvegetables
3,102900005115748,white caitai,1011010101,flower/leafvegetables
4,102900005115762,amaranth,1011010101,flower/leafvegetables
5,102900005115779,yunnan shengcai,1011010101,flower/leafvegetables
6,102900005115786,zhuyecai,1011010101,flower/leafvegetables
7,102900005115793,chinese cabbage,1011010101,flower/leafvegetables
8,102900005115816,nanguajian,1011010101,flower/leafvegetables
9,102900005115823,shanghaiqing,1011010101,flower/leafvegetables

In [121]:
for index,row in df.iterrows():
    df.at[index,'Category Name']= row['Category Name'].replace('/leafvegetables','').replace('edible ','').replace(' tuberous vegetables','')
    
df.tail(50)

,Item Code,Item Name,Category Code,Category Name
201,102900011012994,apricot bao mushroom (bag),1011010801,mushroom
202,102900011013274,the white mushroom (bag),1011010801,mushroom
203,102900011018095,chinese caterpillar fungus flowers (bag),1011010801,mushroom
204,102900011021675,chopped red pine,1011010801,mushroom
205,102900011021699,the steak mushrooms,1011010801,mushroom
206,102900011023075,white jelly mushroom,1011010801,mushroom
207,102900011026793,apricot bao mushroom (250 g),1011010801,mushroom
208,102900011030561,chopped red pine (box),1011010801,mushroom
209,102900011030608,the steak mushrooms (box),1011010801,mushroom
210,102900011030615,the pork stomach mushroom (box),1011010801,mushroom
211,102900011030622,black porcini (box),1011010801,mushroom
212,102900011030639,black chicken fir bacteria (box),1011010801,mushroom
213,102900011030912,haixian mushroom (bag),1011010801,mushroom
214,102900011030929,fresh edible fungus (bag),1011010801,mushroom
215,102900011031599,apricot bao mushroom (bag),1011010801,mushroom
216,102900011031841,agaricus bisporus (bag),1011010801,mushroom
217,102900011031858,needle mushroom (bag),1011010801,mushroom
218,102900011031926,chinese caterpillar fungus flowers (bag),1011010801,mushroom
219,102900011031995,jigu (bag),1011010801,mushroom
220,102900011032619,xixia xianggu mushroom (2),1011010801,mushroom
221,102900011032626,fresh edible fungus (2),1011010801,mushroom
222,102900011032633,fresh sea (2),1011010801,mushroom
223,102900011032640,jigu (2),1011010801,mushroom
224,102900011033937,needle mushroom (2),1011010801,mushroom
225,102900011033944,apricot bao mushroom (2),1011010801,mushroom
226,102900011033968,xixia black mushroom (2),1011010801,mushroom
227,102900011034330,agaricus bisporus (box),1011010801,mushroom
228,102900011034538,black mushroom (bag),1011010801,mushroom
229,102900011034705,the fungus mushroom hot pot package (bag),1011010801,mushroom
230,102900011035740,crab flavor mushroom and white mushroom mix (box),1011010801,mushroom
231,102900011035788,xixia xianggu mushroom (bag),1011010801,mushroom
232,102900011036068,mushroom and leaf mix (bag),1011010801,mushroom
233,102900011036266,velvet antler mushroom (box),1011010801,mushroom
234,102900051009336,chinese caterpillar fungus flowers,1011010801,mushroom
235,106930274220092,the crab flavor mushroom (bag),1011010801,mushroom
236,106930274620090,haixian mushroom (bag) (2),1011010801,mushroom
237,106931885000035,embroidered aureus,1011010801,mushroom
238,106931885000356,embroidered aureus (bag),1011010801,mushroom
239,106949711300068,needle mushroom (bag) (3),1011010801,mushroom
240,106949711300167,needle mushroom (bag) (2),1011010801,mushroom
241,106949711300259,needle mushroom (box),1011010801,mushroom
242,106956146480197,the white mushroom (2),1011010801,mushroom
243,106956146480203,the crab flavor mushroom (2),1011010801,mushroom
244,106957634300010,the white mushroom (box),1011010801,mushroom
245,106957634300058,the crab flavor mushroom (box),1011010801,mushroom
246,106958851400125,haixian mushroom (bag) (4),1011010801,mushroom
247,106971533450003,haixian mushroom (bunch),1011010801,mushroom
248,106971533455008,haixian mushroom (bag) (3),1011010801,mushroom
249,106973223300667,chinese caterpillar fungus flowers (box) (2),1011010801,mushroom
250,106973990980123,hfyg haixian mushroom (bunch),1011010801,mushroom

In [122]:
merged_data = pd.merge(df, df2[['Date', 'Time', 'Item Code']], on='Item Code', how='right')
merged_data.tail(100)

,Item Code,Item Name,Category Code,Category Name,Date,Time
878403,102900005116714,broccoli,1011010201,cabbage,2023-06-30,19:50:16.436
878404,102900005118824,high melon (1),1011010402,aquatic,2023-06-30,19:50:24.786
878405,102900011030059,yunnan lettuce (bag),1011010101,flower,2023-06-30,19:55:45.264
878406,102900011034026,zhijiang qinggengsanhua,1011010201,cabbage,2023-06-30,19:55:49.061
878407,102900005116714,broccoli,1011010201,cabbage,2023-06-30,19:55:55.104
...,...,...,...,...,...,...
878498,102900005115250,xixia black mushroom (1),1011010801,mushroom,2023-06-30,21:35:13.264
878499,102900011022764,changxianqie,1011010501,solanum,2023-06-30,21:35:14.358
878500,102900005115250,xixia black mushroom (1),1011010801,mushroom,2023-06-30,21:35:20.264
878501,102900011016701,wuhu green pepper (1),1011010504,capsicum,2023-06-30,21:35:21.509
878502,102900011022764,changxianqie,1011010501,solanum,2023-06-30,21:40:48.248

In [123]:
time_occurrences = merged_data['Time'].value_counts()
print(time_occurrences) #Number of occurrences of each time value

Time
10:05:12.655    6
09:37:24.655    5
18:18:35.264    5
09:34:20.717    4
18:11:43.061    4
               ..
09:36:37.701    1
09:36:47.983    1
09:38:14.294    1
09:38:24.197    1
21:40:48.248    1
Name: count, Length: 849632, dtype: int64

In [130]:
date_occurrences = merged_data['Date'].value_counts()
print(date_occurrences) #Number of occurrences of each Date value

Date
2021-02-10    3747
2022-11-19    3215
2023-01-20    3177
2022-11-21    2627
2021-02-09    2501
              ...
2022-12-04     277
2021-04-06     277
2022-11-27      84
2022-11-28      78
2022-11-29      74
Name: count, Length: 1085, dtype: int64