In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../../datasets/built_dataset.csv")
df.info()#Gives Information about null data and more

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475428 entries, 0 to 475427
Data columns (total 9 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Item Name                    475428 non-null  object
 1   Category Name                475428 non-null  object
 2   Date                         475428 non-null  object
 3   Time                         475428 non-null  object
 4   Item Code                    475428 non-null  int64
 5   Quantity Sold (kilo)         475428 non-null  float64
 6   Unit Selling Price (RMB/kg)  475428 non-null  float64
 7   Sale or Return               475428 non-null  object
 8   Discount (Yes/No)            475428 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 32.6+ MB

In [3]:
df=df.drop(columns=['Item Code', 'Quantity Sold (kilo)', 'Unit Selling Price (RMB/kg)', 'Sale or Return', 'Discount (Yes/No)'])

In [4]:
df['Time'] = df['Time'].str[:8]
df.head()

           Item Name Category Name        Date      Time
0  green hot peppers      capsicum  2021-01-01  09:14:26
1  green hot peppers      capsicum  2021-01-01  09:14:26
2    yunnan lettuces        flower  2021-01-01  09:16:20
3    xixia mushroom       mushroom  2021-01-01  09:18:49
4        paopaojiao       capsicum  2021-01-01  09:19:14

In [5]:
df['Date'].value_counts().mean()

659.4008321775312

In [6]:
import random

In [7]:
for i in range(df.shape[0]):
    df.at[i, 'suffix'] = random.randint(1,680)
    
    
df['suffix'] = df['suffix'].astype(str)
df['suffix'].value_counts().mean()

699.1588235294117

In [8]:
df['Date'] = df['Date'].astype(str)
for i in range(df.shape[0]):
    df.at[i, 'prefix'] = df['Date'][i][2:4]+df['Date'][i][5:7]+df['Date'][i][8:]
    
df.sample()

       Item Name Category Name        Date      Time suffix  prefix
323870  amaranth        flower  2022-04-28  15:23:24  308.0  220428

In [9]:
for i in range(df.shape[0]):
    df.at[i, 'Invoice_ID']=df['prefix'][i]+df['suffix'][i][:-2]
    
df['Invoice_ID'].value_counts().max(),df['Invoice_ID'].value_counts().mean(),df['Invoice_ID'].value_counts().min()

(13, 1.6254671147777509, 1)

In [10]:
df.sample()

,Item Name,Category Name,Date,Time,suffix,prefix,Invoice_ID
448426,huangxincai,flower,2022-11-15,18:56:03,70.0,221115,22111570

In [11]:
df=df.drop(columns=['Date','Time','prefix','suffix'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475428 entries, 0 to 475427
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Item Name      475428 non-null  object
 1   Category Name  475428 non-null  object
 2   Invoice_ID     475428 non-null  object
dtypes: object(3)
memory usage: 10.9+ MB

In [13]:
df['Invoice_ID'].unique().shape[0]

292487

In [14]:
df1 = pd.get_dummies(df.drop(columns=['Invoice_ID']))

In [ ]:
from sklearn.preprocessing import LabelBinarizer
obj = LabelBinarizer()
df2 = obj.fit_transform(df['Invoice_ID'])
df2.shape

In [ ]:
df_final = df1 + df2
df_final.sample(3)

In [ ]:
df_final.to_csv('../../datasets/annex/pre_processed_data.csv', index=False)