In [1]:
import random
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/rumethsandinu/Study/Assessments/Year 2/DSGP/Datasets/annex/sale.csv')
df.head()

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,sale,No
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,sale,No
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,sale,No
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,sale,No

In [3]:
df.shape

(878503, 7)

In [4]:
df.isna().sum()

Date                           0
Time                           0
Item Code                      0
Quantity Sold (kilo)           0
Unit Selling Price (RMB/kg)    0
Sale or Return                 0
Discount (Yes/No)              0
dtype: int64

In [5]:
np.average(df['Time'].value_counts())

1.0339805939512636

In [6]:
(df['Time'].value_counts() > 1).sum()

27452

In [7]:
custid = []
for i in range (1, df.shape[0]):
    custid.append(random.randint(1, df.shape[0]))
df['Cid'] = pd.Series(custid)

In [8]:
df.head()

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No),Cid
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No,637038.0
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,sale,No,179515.0
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,sale,No,384704.0
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,sale,No,574395.0
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,sale,No,648238.0

In [9]:
np.average(df['Cid'].value_counts())

1.5829577908914816

In [10]:
(df['Cid'].value_counts() > 1).sum()

231906

In [11]:
df['Cid'].value_counts()

Cid
155401.0    8
849361.0    8
189842.0    8
405847.0    8
776847.0    8
           ..
593476.0    1
837187.0    1
296378.0    1
444928.0    1
640126.0    1
Name: count, Length: 554975, dtype: int64