In [16]:
import random
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('/Users/rumethsandinu/Study/Assessments/Year 2/DSGP/Datasets/annex/sale.csv')
df.head()

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,sale,No
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,sale,No
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,sale,No
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,sale,No

In [18]:
df.shape

(878503, 7)

In [19]:
df.isna().sum()

Date                           0
Time                           0
Item Code                      0
Quantity Sold (kilo)           0
Unit Selling Price (RMB/kg)    0
Sale or Return                 0
Discount (Yes/No)              0
dtype: int64

In [20]:
np.average(df['Time'].value_counts())

1.0339805939512636

In [21]:
(df['Time'].value_counts() > 1).sum()

27452

In [22]:
custid = []
for i in range (1, df.shape[0]):
    custid.append(random.randint(1, df.shape[0]))
df['Cid'] = pd.Series(custid)

In [23]:
df.head()

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No),Cid
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No,741997.0
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,sale,No,562607.0
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,sale,No,589914.0
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,sale,No,365360.0
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,sale,No,404350.0

In [24]:
np.average(df['Cid'].value_counts())

1.5829121553322487

In [25]:
(df['Cid'].value_counts() > 1).sum()

232433

In [26]:
df['Cid'].value_counts()

Cid
733973.0    9
14195.0     8
324925.0    8
384743.0    8
792360.0    8
           ..
158451.0    1
65498.0     1
734030.0    1
686315.0    1
611798.0    1
Name: count, Length: 554991, dtype: int64

In [29]:
for i in range(1, 878503):
    df['CustomerId'].values[i] = random.randint(1, 878503)
df['CustomerId'].value_counts()

CustomerId
611196    8
743888    8
345082    8
720985    8
233584    8
         ..
734206    1
87762     1
702748    1
384911    1
549667    1
Name: count, Length: 555743, dtype: int64