In [43]:
# import libraries
import pandas as pd

In [44]:
# load item.csv
df1 = pd.read_csv('/Users/rumethsandinu/Study/Assessments/Year 2/DSGP/Datasets/annex/item.csv')
df1.head()

,Item Code,Item Name,Category Code,Category Name
0,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables
1,102900005115199,Sichuan Red Cedar,1011010101,Flower/Leaf Vegetables
2,102900005115625,Local Xiaomao Cabbage,1011010101,Flower/Leaf Vegetables
3,102900005115748,White Caitai,1011010101,Flower/Leaf Vegetables
4,102900005115762,Amaranth,1011010101,Flower/Leaf Vegetables

In [45]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item Code      251 non-null    int64
 1   Item Name      251 non-null    object
 2   Category Code  251 non-null    int64
 3   Category Name  251 non-null    object
dtypes: int64(2), object(2)
memory usage: 8.0+ KB

In [46]:
# check if item code duplicates
df1['Item Code'].duplicated().value_counts()

Item Code
False    251
Name: count, dtype: int64

In [47]:
# convert item code to object type to protect from type conversion
df1['Item Code'] = df1['Item Code'].astype(str)

In [48]:
# split item names where duplication name starts
df1['Item Name'] = df1['Item Name'].apply(lambda x : x.split('(')[0])
df1.sample(5)

,Item Code,Item Name,Category Code,Category Name
69,102900011032282,Xiangtianhongcaitai,1011010101,Flower/Leaf Vegetables
44,102900011008676,Jicai,1011010101,Flower/Leaf Vegetables
193,102900011009246,Fresh Black Fungus,1011010801,Edible Mushroom
227,102900011034330,Agaricus Bisporus,1011010801,Edible Mushroom
233,102900011036266,Velvet Antler Mushroom,1011010801,Edible Mushroom

In [49]:
# check for duplications names
df1['Item Name'].duplicated().value_counts()

Item Name
False    194
True      57
Name: count, dtype: int64

In [50]:
# for future testing if the duplication removal process successfull
df1['Item Name'].duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
246     True
247     True
248     True
249     True
250    False
Name: Item Name, Length: 251, dtype: bool

In [51]:
# drop the duplicates keeping only first value
df1 = df1.drop_duplicates(subset=['Item Name'], keep='first')
df1.shape

(194, 4)

In [52]:
# check if the duplication removal process successfull
df1[df1['Item Name'] == 'Chinese Cabbage']

         Item Code        Item Name  Category Code           Category Name
7  102900005115793  Chinese Cabbage     1011010101  Flower/Leaf Vegetables

In [53]:
# check the frequency of each catgory name

df1['Category Name'].value_counts()

Category Name
Flower/Leaf Vegetables         94
Edible Mushroom                41
Capsicum                       35
Aquatic Tuberous Vegetables    14
Solanum                         7
Cabbage                         3
Name: count, dtype: int64

In [54]:
def rename_category(data):
    if data == 'Flower/Leaf Vegetables':
        return 'Flower/Leaf Vegetables'
    return data

# rename all Flower/Leaf Vegetables values to readable value
df1['Category Name'] = df1['Category Name'].apply(rename_category)
df1['Category Name'].value_counts()

Category Name
Flower/Leaf Vegetables         94
Edible Mushroom                41
Capsicum                       35
Aquatic Tuberous Vegetables    14
Solanum                         7
Cabbage                         3
Name: count, dtype: int64

In [55]:
# load the sale.csv dataset

df3 = pd.read_csv('/Users/rumethsandinu/Study/Assessments/Year 2/DSGP/Datasets/annex/sale.csv')
df3.head()

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,sale,No
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,sale,No
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,sale,No
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,sale,No

In [56]:
# drop non-dependent columns
df3 = df3.drop(columns=['Date', 'Time'], axis=1)

In [57]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878503 entries, 0 to 878502
Data columns (total 5 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Item Code                    878503 non-null  int64
 1   Quantity Sold (kilo)         878503 non-null  float64
 2   Unit Selling Price (RMB/kg)  878503 non-null  float64
 3   Sale or Return               878503 non-null  object
 4   Discount (Yes/No)            878503 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 33.5+ MB

In [58]:
# convert item code to object type to protect from type conversion
df3['Item Code'] = df3['Item Code'].astype(str)

In [59]:
# get item codes in df1 which present in df3
df1 = df1[df1['Item Code'].isin(df3['Item Code'])]
df1.shape

(191, 4)

In [60]:
# get item codes in df3 which present in df1
df3 = df3[df3['Item Code'].isin(df1['Item Code'])]

df3.shape

(737337, 5)

In [61]:
# getting a copy of df3 and assigning it to dff

dff = df3.copy().reset_index(drop=True)
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737337 entries, 0 to 737336
Data columns (total 5 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Item Code                    737337 non-null  object
 1   Quantity Sold (kilo)         737337 non-null  float64
 2   Unit Selling Price (RMB/kg)  737337 non-null  float64
 3   Sale or Return               737337 non-null  object
 4   Discount (Yes/No)            737337 non-null  object
dtypes: float64(2), object(3)
memory usage: 28.1+ MB

In [62]:
# check all the operations successful
dff.head()

,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
0,102900005117056,0.396,7.6,sale,No
1,102900005117056,0.409,7.6,sale,No
2,102900005115823,0.421,10.0,sale,No
3,102900005115908,0.539,8.0,sale,No
4,102900005117056,0.277,7.6,sale,No

In [63]:
dff.shape

(737337, 5)

In [64]:
# merge df3 with df1 (item name, category name)
for i in range(dff.shape[0]):
    for j in range(df1.shape[0]):
        if dff['Item Code'].values[i] == df1['Item Code'].values[j]:
            dff.at[i, 'Item Name'] = df1['Item Name'].values[j]
            dff.at[i, 'Category Name'] = df1['Category Name'].values[j]
            break

In [65]:
# drop non-dependant feature
dff = dff.drop(columns=['Item Code'], axis=1)
dff.head()

,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No),Item Name,Category Name
0,0.396,7.6,sale,No,Paopaojiao,Capsicum
1,0.409,7.6,sale,No,Paopaojiao,Capsicum
2,0.421,10.0,sale,No,Shanghaiqing,Flower/Leaf Vegetables
3,0.539,8.0,sale,No,Caixin,Flower/Leaf Vegetables
4,0.277,7.6,sale,No,Paopaojiao,Capsicum

In [66]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737337 entries, 0 to 737336
Data columns (total 6 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Quantity Sold (kilo)         737337 non-null  float64
 1   Unit Selling Price (RMB/kg)  737337 non-null  float64
 2   Sale or Return               737337 non-null  object
 3   Discount (Yes/No)            737337 non-null  object
 4   Item Name                    737337 non-null  object
 5   Category Name                737337 non-null  object
dtypes: float64(2), object(4)
memory usage: 33.8+ MB

In [67]:
# Get the column names to lists

first_columns = dff.columns[:-2].tolist()
last_two_columns = dff.columns[-2:].tolist()

# Rearrange the columns

order = last_two_columns + first_columns
dff = dff[order]

# check all the operations successful
dff.sample(5)

,Item Name,Category Name,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
298594,Red Pepper,Capsicum,0.088,8.0,sale,No
45976,Hongshujian,Flower/Leaf Vegetables,0.240,4.6,sale,No
556124,Wuhu Green Pepper,Capsicum,0.571,6.0,sale,No
594305,Zhijiang Qinggengsanhua,Cabbage,0.284,9.2,sale,No
312929,Yunnan Shengcai,Flower/Leaf Vegetables,0.338,8.0,sale,No

In [68]:
dff.isnull().sum()

Item Name                      0
Category Name                  0
Quantity Sold (kilo)           0
Unit Selling Price (RMB/kg)    0
Sale or Return                 0
Discount (Yes/No)              0
dtype: int64

In [69]:
dff.to_csv("/Users/rumethsandinu/Study/Assessments/Year 2/DSGP/Datasets/built_dataset.csv", index=False)