In [1]:
import pandas as pd

In [2]:
# load item.csv
df1 = pd.read_csv('/Users/rumethsandinu/Study/Assessments/Year 2/DSGP/Datasets/annex/item.csv')
df1.head()

,Item Code,Item Name,Category Code,Category Name
0,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables
1,102900005115199,Sichuan Red Cedar,1011010101,Flower/Leaf Vegetables
2,102900005115625,Local Xiaomao Cabbage,1011010101,Flower/Leaf Vegetables
3,102900005115748,White Caitai,1011010101,Flower/Leaf Vegetables
4,102900005115762,Amaranth,1011010101,Flower/Leaf Vegetables

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item Code      251 non-null    int64
 1   Item Name      251 non-null    object
 2   Category Code  251 non-null    int64
 3   Category Name  251 non-null    object
dtypes: int64(2), object(2)
memory usage: 8.0+ KB

In [4]:
# check if item code duplicates
df1['Item Code'].duplicated().value_counts()

Item Code
False    251
Name: count, dtype: int64

In [5]:
# convert item code to object type to protect from type conversion
df1['Item Code'] = df1['Item Code'].astype(str)

In [6]:
# split item names where duplication name starts
df1['Item Name'] = df1['Item Name'].apply(lambda x : x.split('(')[0])
df1.sample(5)

,Item Code,Item Name,Category Code,Category Name
219,102900011031995,Jigu,1011010801,Edible Mushroom
212,102900011030639,Black Chicken Fir Bacteria,1011010801,Edible Mushroom
158,102900011031582,Green Hot Peppers,1011010504,Capsicum
136,102900005116233,Red Pepper,1011010504,Capsicum
68,102900011032176,Basil,1011010101,Flower/Leaf Vegetables

In [7]:
# check for duplications names
df1['Item Name'].duplicated().value_counts()

Item Name
False    194
True      57
Name: count, dtype: int64

In [8]:
# for future testing if the duplication removal process successfull
df1['Item Name'].duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
246     True
247     True
248     True
249     True
250    False
Name: Item Name, Length: 251, dtype: bool

In [9]:
# drop the duplicates keeping only first value
df1 = df1.drop_duplicates(subset=['Item Name'], keep='first')
df1.shape

(194, 4)

In [10]:
# check if the duplication removal process successfull
df1[df1['Item Name'] == 'Chinese Cabbage']

         Item Code        Item Name  Category Code           Category Name
7  102900005115793  Chinese Cabbage     1011010101  Flower/Leaf Vegetables

In [11]:
# check the frequency of each catgory name

df1['Category Name'].value_counts()

Category Name
Flower/Leaf Vegetables         94
Edible Mushroom                41
Capsicum                       35
Aquatic Tuberous Vegetables    14
Solanum                         7
Cabbage                         3
Name: count, dtype: int64

In [12]:
def rename_category(data):
    if data == 'Flower/Leaf Vegetables':
        return 'Flower/Leaf Vegetables'
    return data

# rename all Flower/Leaf Vegetables values to readable value
df1['Category Name'] = df1['Category Name'].apply(rename_category)
df1['Category Name'].value_counts()

Category Name
Flower/Leaf Vegetables         94
Edible Mushroom                41
Capsicum                       35
Aquatic Tuberous Vegetables    14
Solanum                         7
Cabbage                         3
Name: count, dtype: int64

In [13]:
# load the sale.csv dataset

df3 = pd.read_csv('/Users/rumethsandinu/Study/Assessments/Year 2/DSGP/Datasets/annex/sale.csv')
df3.head()

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,sale,No
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,sale,No
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,sale,No
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,sale,No

In [14]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878503 entries, 0 to 878502
Data columns (total 7 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Date                         878503 non-null  object
 1   Time                         878503 non-null  object
 2   Item Code                    878503 non-null  int64
 3   Quantity Sold (kilo)         878503 non-null  float64
 4   Unit Selling Price (RMB/kg)  878503 non-null  float64
 5   Sale or Return               878503 non-null  object
 6   Discount (Yes/No)            878503 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 46.9+ MB

In [15]:
# convert item code to object type to protect from type conversion
df3['Item Code'] = df3['Item Code'].astype(str)

In [16]:
# get item codes in df1 which present in df3
df1 = df1[df1['Item Code'].isin(df3['Item Code'])]
df1.shape

(191, 4)

In [17]:
# get item codes in df3 which present in df1
df3 = df3[df3['Item Code'].isin(df1['Item Code'])]

df3.shape

(737337, 7)

In [18]:
# getting a copy of df3 and assigning it to dff

dff = df3.copy().reset_index(drop=True)
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737337 entries, 0 to 737336
Data columns (total 7 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Date                         737337 non-null  object
 1   Time                         737337 non-null  object
 2   Item Code                    737337 non-null  object
 3   Quantity Sold (kilo)         737337 non-null  float64
 4   Unit Selling Price (RMB/kg)  737337 non-null  float64
 5   Sale or Return               737337 non-null  object
 6   Discount (Yes/No)            737337 non-null  object
dtypes: float64(2), object(5)
memory usage: 39.4+ MB

In [19]:
# check all the operations successful
dff.head()

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No
1,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,sale,No
2,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,sale,No
3,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,sale,No
4,2020-07-01,09:21:55.556,102900005117056,0.277,7.6,sale,No

In [20]:
dff.shape

(737337, 7)

In [21]:
# merge df3 with df1 (item name, category name)
for i in range(dff.shape[0]):
    for j in range(df1.shape[0]):
        if dff['Item Code'].values[i] == df1['Item Code'].values[j]:
            dff.at[i, 'Item Name'] = df1['Item Name'].values[j]
            dff.at[i, 'Category Name'] = df1['Category Name'].values[j]
            break

In [22]:
# drop non-dependant feature
dff = dff.drop(columns=['Item Code', 'Time'], axis=1)
dff.head()

,Date,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No),Item Name,Category Name
0,2020-07-01,0.396,7.6,sale,No,Paopaojiao,Capsicum
1,2020-07-01,0.409,7.6,sale,No,Paopaojiao,Capsicum
2,2020-07-01,0.421,10.0,sale,No,Shanghaiqing,Flower/Leaf Vegetables
3,2020-07-01,0.539,8.0,sale,No,Caixin,Flower/Leaf Vegetables
4,2020-07-01,0.277,7.6,sale,No,Paopaojiao,Capsicum

In [23]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737337 entries, 0 to 737336
Data columns (total 7 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Date                         737337 non-null  object
 1   Quantity Sold (kilo)         737337 non-null  float64
 2   Unit Selling Price (RMB/kg)  737337 non-null  float64
 3   Sale or Return               737337 non-null  object
 4   Discount (Yes/No)            737337 non-null  object
 5   Item Name                    737337 non-null  object
 6   Category Name                737337 non-null  object
dtypes: float64(2), object(5)
memory usage: 39.4+ MB

In [24]:
# Get the column names to lists

first_columns = dff.columns[:-2].tolist()
last_two_columns = dff.columns[-2:].tolist()

# Rearrange the columns

order = last_two_columns + first_columns
dff = dff[order]

# check all the operations successful
dff.sample(5)

,Item Name,Category Name,Date,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
674320,Wuhu Green Pepper,Capsicum,2023-02-27,0.345,16.0,sale,No
511590,Honghu Lotus Root,Aquatic Tuberous Vegetables,2022-06-22,0.313,31.6,sale,No
326700,Millet Pepper,Capsicum,2021-08-03,0.080,10.0,sale,No
172332,Yunnan Shengcai,Flower/Leaf Vegetables,2021-01-18,0.342,12.0,sale,No
4319,Yunnan Shengcai,Flower/Leaf Vegetables,2020-07-05,0.426,8.0,sale,No

In [25]:
# check for null values
dff.isnull().sum()

Item Name                      0
Category Name                  0
Date                           0
Quantity Sold (kilo)           0
Unit Selling Price (RMB/kg)    0
Sale or Return                 0
Discount (Yes/No)              0
dtype: int64

In [26]:
# save built dataset
dff.to_csv("/Users/rumethsandinu/Study/Assessments/Year 2/DSGP/Datasets/built_dataset.csv", index=False)