In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/rumethsandinu/Study/Assessments/Year 2/DSGP/Datasets/final_cleaned_dataset/cleaned_annex.csv')
df.sample(5)

,Item Name,Category Name,Quantity Sold (g),Unit Selling Price (RMB/g),Sale or Return,Discount (Yes/No)
95109,Huangbaicai (2),Flower,251.0,8000,sale,No
325160,Yunnan Shengcai,Flower,602.0,6000,sale,No
334278,Yunnan Shengcai,Flower,363.0,8000,sale,No
846138,Wuhu Green Pepper (1),Capsicum,489.0,7200,sale,No
379084,Xiaozhoupi,Capsicum,251.0,10000,sale,No

In [3]:
df['Quantity Sold (g)'] = df['Quantity Sold (g)'].astype(str).str[:-2]

In [4]:
df['Sale or Return'].value_counts()

Sale or Return
sale      878042
return       461
Name: count, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878503 entries, 0 to 878502
Data columns (total 6 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Item Name                   878503 non-null  object
 1   Category Name               878503 non-null  object
 2   Quantity Sold (g)           878503 non-null  object
 3   Unit Selling Price (RMB/g)  878503 non-null  int64
 4   Sale or Return              878503 non-null  object
 5   Discount (Yes/No)           878503 non-null  object
dtypes: int64(1), object(5)
memory usage: 40.2+ MB

In [6]:
df['Quantity Sold (g)'] = df['Quantity Sold (g)'].astype(float)
df['Quantity Sold (g)'] = df['Quantity Sold (g)'].astype(int)
df['Unit Selling Price (RMB/g)'] = df['Unit Selling Price (RMB/g)'].astype(int)

In [7]:
for i in range(df.shape[0]):
    if df['Discount (Yes/No)'].values[i] == 'Yes':
        df['Discount (Yes/No)'].values[i] = True
    else:
        df['Discount (Yes/No)'].values[i] = False
        
df['Discount (Yes/No)'] = df['Discount (Yes/No)'].astype(bool)
df.sample(5)

,Item Name,Category Name,Quantity Sold (g),Unit Selling Price (RMB/g),Sale or Return,Discount (Yes/No)
607157,Broccoli,Cabbage,492,10000,sale,False
45606,Xixia Mushroom (1),Edible Mushroom,202,19800,sale,False
775908,Naibaicai,Flower,432,10000,sale,False
869306,Xiaoqingcai (1),Flower,218,6000,sale,False
118002,Needle Mushroom (1),Edible Mushroom,426,8000,sale,False

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878503 entries, 0 to 878502
Data columns (total 6 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Item Name                   878503 non-null  object
 1   Category Name               878503 non-null  object
 2   Quantity Sold (g)           878503 non-null  int64
 3   Unit Selling Price (RMB/g)  878503 non-null  int64
 4   Sale or Return              878503 non-null  object
 5   Discount (Yes/No)           878503 non-null  bool
dtypes: bool(1), int64(2), object(3)
memory usage: 34.4+ MB

In [9]:
df['Discount (Yes/No)'].value_counts()

Discount (Yes/No)
False    831137
True      47366
Name: count, dtype: int64

In [10]:
df.iloc[:,[2, 3, 5]].corr()

,Quantity Sold (g),Unit Selling Price (RMB/g),Discount (Yes/No)
Quantity Sold (g),1.000000,-0.374163,0.080099
Unit Selling Price (RMB/g),-0.374163,1.000000,-0.072037
Discount (Yes/No),0.080099,-0.072037,1.000000

In [11]:
df['Unit Selling Price (RMB/g)'].min(), df['Unit Selling Price (RMB/g)'].max()

(100, 119900)

In [12]:
df = pd.get_dummies(df)
df.shape

(878503, 253)

In [13]:
df.sample(5)

,Quantity Sold (g),Unit Selling Price (RMB/g),Discount (Yes/No),Item Name_7 Colour Pepper (1),Item Name_7 Colour Pepper (2),Item Name_7 Colour Pepper (Bag),Item Name_Agaricus Bisporus (Bag),Item Name_Agaricus Bisporus (Box),Item Name_Aihao,Item Name_Amaranth,...,Item Name_Zhuyecai,Item Name_Zhuyecai (Bag),Category Name_Aquatic Tuberous Vegetables,Category Name_Cabbage,Category Name_Capsicum,Category Name_Edible Mushroom,Category Name_Flower,Category Name_Solanum,Sale or Return_return,Sale or Return_sale
554508,704,8000,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,True
248854,464,8000,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
688234,399,4800,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
256243,318,6000,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
784880,301,12000,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True

In [14]:
from sklearn.cluster import KMeans

In [15]:
wcss_error = []
model = KMeans(n_clusters= 100)
model.fit(df)
wcss_error.append(model.inertia_)

/Users/rumethsandinu/Library/Python/3.9/lib/python/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [16]:
wcss_error

[15520641902.611841]