In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('/Users/rumethsandinu/Study/Assessments/Year 2/DSGP/Datasets/final_cleaned_dataset/cleaned_annex.csv')
df.sample(5)

,Item Name,Category Name,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
581994,Wuhu Green Pepper (1),Capsicum,0.348,3.2,sale,No
780179,Shanghaiqing,Flower,0.645,16.0,sale,No
269510,Fresh Black Fungus (1),Edible Mushroom,0.315,14.0,sale,No
296526,Wuhu Green Pepper (1),Capsicum,0.502,6.0,sale,No
231024,Luosi Pepper,Capsicum,0.265,23.8,sale,No

In [3]:
df['Sale or Return'].value_counts()

Sale or Return
sale      878042
return       461
Name: count, dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878503 entries, 0 to 878502
Data columns (total 6 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Item Name                    878503 non-null  object
 1   Category Name                878503 non-null  object
 2   Quantity Sold (kilo)         878503 non-null  float64
 3   Unit Selling Price (RMB/kg)  878503 non-null  float64
 4   Sale or Return               878503 non-null  object
 5   Discount (Yes/No)            878503 non-null  object
dtypes: float64(2), object(4)
memory usage: 40.2+ MB

In [5]:
df['Discount (Yes/No)'].value_counts()

Discount (Yes/No)
No     831137
Yes     47366
Name: count, dtype: int64

In [6]:
scaler = StandardScaler()
df.iloc[:,[2, 3]] = scaler.fit_transform(df.iloc[:,[2, 3]])

In [8]:
df['Unit Selling Price (RMB/kg)'].min(), df['Unit Selling Price (RMB/kg)'].max()

(-1.397049336052622, 17.584892414875554)

In [9]:
df.iloc[:,[2, 3]].corr()

                             Quantity Sold (kilo)  Unit Selling Price (RMB/kg)
Quantity Sold (kilo)                     1.000000                    -0.374163
Unit Selling Price (RMB/kg)             -0.374163                     1.000000

In [10]:
df = pd.get_dummies(df)
df.shape

(878503, 254)

In [11]:
df.sample(5)

,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Item Name_7 Colour Pepper (1),Item Name_7 Colour Pepper (2),Item Name_7 Colour Pepper (Bag),Item Name_Agaricus Bisporus (Bag),Item Name_Agaricus Bisporus (Box),Item Name_Aihao,Item Name_Amaranth,Item Name_Amaranth (Bag),...,Category Name_Aquatic Tuberous Vegetables,Category Name_Cabbage,Category Name_Capsicum,Category Name_Edible Mushroom,Category Name_Flower,Category Name_Solanum,Sale or Return_return,Sale or Return_sale,Discount (Yes/No)_No,Discount (Yes/No)_Yes
679223,1.159467,-0.794951,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,True,True,False
502208,0.442124,0.171575,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,True,True,False
485205,-0.965069,0.805363,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,True,True,False
570457,-0.667634,-0.462212,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,True,True,False
293531,-0.620145,-0.145319,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,True,True,False