In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('../time_based_analysis/time_model.csv')
df.head(3)

           item_name category_name  cluster
0  green hot peppers      capsicum        0
1    yunnan lettuces        flower        0
2    xixia mushroom       mushroom        0

In [13]:
filt_0 = df['cluster'] == 0
df.loc[filt_0].shape

(128, 3)

In [14]:
filt_1 = df['cluster'] == 1
df.loc[filt_1].shape

(15, 3)

In [15]:
filt_2 = df['cluster'] == 2
df.loc[filt_2].shape

(10, 3)